<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AMHR</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @{ 
        var user = User as System.Security.Claims.ClaimsPrincipal;
        var userInfo = new AMHR_WEB.Models.UserSessionModel();
        if (user != null)
        {
            var claims = user.Claims.ToList();
            var sessionClaim = claims.FirstOrDefault(o => o.Type == AMHR_WEB.Models.Constants.UserSession);
            if (sessionClaim != null)
            {


                userInfo = AMHR_WEB.GlobalAttribute.GlobalHelper.stringToObject<AMHR_WEB.Models.UserSessionModel>(sessionClaim.Value);
            }
        }
    }
    @*<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
            <div class="container">
                @Html.ActionLink("애플리케이션 이름", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="탐색 토글" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li>@Html.ActionLink("홈", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("정보", "About", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("연락처", "Contact", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    </ul>
                </div>
            </div>
        </nav>*@
    <div style="width:100%; height:100%;">
        <article style="margin:0;padding:0;">
            <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
                <div class="container-fluid">
                    @*<a class="navbar-brand" href="#">Navbar</a>*@
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="true" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarColor01">
                        <ul class="navbar-nav me-auto"
                            style="width: 100%;
                       justify-content: center;">
                            <li class="nav-item"
                                style="margin-left:20px;">
                                @Html.ActionLink("About", "About", "Home", null, new { @class = "nav-link" })
                            </li>
                            <li class="nav-item"
                                style="margin-left:20px;">
                                @Html.ActionLink("Class", "ClassView", "Class", null, new { @class = "nav-link" })
                            </li>
                            <li class="nav-item"
                                style="margin-left:20px;">
                                <a class="nav-link" href="#">Shop</a>
                            </li>
                            <li class="nav-item"
                                style="margin-left:20px;">
                                <a class="nav-link" href="#">Notice</a>
                            </li>
                            <li class="nav-item"
                                style="margin-left:20px;">
                                <a class="nav-link" href="#">Contact</a>
                            </li>
                            @*<li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Separated link</a>
                            </div>
                        </li>*@
                        </ul>
                        @*<form class="d-flex">
                        <input class="form-control me-sm-2" type="search" placeholder="Search">
                        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                    </form>*@
                    </div>

                    <div>
                        <ul class="navbar-nav me-auto" style="width: 100%;
                       justify-content: center;">
                            @{
                                if (userInfo != null && !string.IsNullOrEmpty(userInfo.USER_ID))
                                {
                                    <li class="nav-item" style="margin-left:20px;">
                                        @Html.ActionLink("Logout", "LogoutUser", "User", null, new { @class = "nav-link" })
                                    </li>

                                }
                                else
                                {
                                    <li class="nav-item" style="margin-left:20px;">
                                        @Html.ActionLink("Login", "UserLogin", "User", null, new { @class = "nav-link" })
                                    </li>

                                }
                            }
                        </ul>
                    </div>
                </div>
            </nav>
            <div style="width: 100%; height: 35px; border-bottom: inset; margin-top: 15px; margin-bottom:15px;">
                <ol class="breadcrumb" style="margin-left:30px;  margin-bottom:15px;">
                    @{
                        string FIRST_BREADCRUMB_NAME = ViewBag.FIRST_BREADCRUMB_NAME == null ? "" : ViewBag.FIRST_BREADCRUMB_NAME.ToString();
                        string SECOND_BREADCRUMB_NAME = ViewBag.SECOND_BREADCRUMB_NAME == null ? "" : ViewBag.SECOND_BREADCRUMB_NAME.ToString();
                    }
                    @if (!string.IsNullOrEmpty(FIRST_BREADCRUMB_NAME) && string.IsNullOrEmpty(SECOND_BREADCRUMB_NAME))
                    {
                        <li class="breadcrumb-item text-primary">@FIRST_BREADCRUMB_NAME</li>
                    }
                    else if (!string.IsNullOrEmpty(FIRST_BREADCRUMB_NAME) && !string.IsNullOrEmpty(SECOND_BREADCRUMB_NAME))
                    {
                        <li class="breadcrumb-item">@FIRST_BREADCRUMB_NAME</li>
                        <li class="breadcrumb-item text-primary">@SECOND_BREADCRUMB_NAME</li>
                    }
                    else
                    {

                    }

                </ol>
            </div>
            <div class="container body-content">
                @RenderBody()

            </div>
            <hr />

            
            <div style="width: 100%; bottom: 0; left: 0; height: 60px;" >
                <footer style="justify-content:center;  align-items:center; display:flex; margin-left:30px;">
                    <span>&copy; AMONGHAR</span>
                    <span>&copy; AMONGHAR</span>
                    <span>&copy; AMONGHAR</span>
                </footer>
            </div>
        </article>
    </div>
    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
