<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>AMHR</title>

    @* CSS Rendered Area *@
    @Styles.Render("~/Content/css")
    @Styles.Render("~/bundles/amhrCss")
    @Scripts.Render("~/bundles/modernizr")
</head>


<body>
    @{
        @* Global User Session Info Area *@
        var user = User as System.Security.Claims.ClaimsPrincipal;
        var userInfo = new AMHR_WEB.Models.UserSessionModel();
        if (user != null)
        {
            var claims = user.Claims.ToList();
            var sessionClaim = claims.FirstOrDefault(o => o.Type == AMHR_WEB.Models.Constants.UserSession);
            if (sessionClaim != null)
            {
                userInfo = AMHR_WEB.GlobalAttribute.GlobalHelper.stringToObject<AMHR_WEB.Models.UserSessionModel>(sessionClaim.Value);
            }
        }


        @* TempData Area *@
        var TEMPDATA = TempData;
        string MESSAGE = TEMPDATA["MESSAGE"] != null ? TEMPDATA["MESSAGE"].ToString() : "";
    }

    <div style="width:100%; height:100%;">
        <article style="margin:0;padding:0;">

            @* nav-bar Area *@
            <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
                @* nav-bar Container Area *@
                <div class="container-fluid">

                    @* nav-bar Toggle Button Area *@
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="true" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>


                    @* nav-bar collapse Area *@
                    <div class="collapse navbar-collapse" id="navbarColor01">
                        @* nav-bar : Left Area *@

                        <div>
                            <ul class="navbar-nav me-auto" style="width: 100%;   justify-content: center;">
                                <li class="nav-item" style="margin-left:20px;">
                                    @Html.ActionLink("AMHR", "Index", "Home", null, new { @class = "nav-link" })
                                </li>
                            </ul>
                        </div>

                        @* nav-bar : Middle Area *@
                        <ul class="navbar-nav me-auto"
                            style="width: 100%;
                       justify-content: center;">
                            <li class="nav-item"
                                style="margin-left:20px;">
                                @Html.ActionLink("About", "About", "Home", null, new { @class = "nav-link" })
                            </li>
                            <li class="nav-item"
                                style="margin-left:20px;">
                                @Html.ActionLink("Class", "ClassView", "Class", null, new { @class = "nav-link" })
                            </li>
                            <li class="nav-item"
                                style="margin-left:20px;">
                                <a class="nav-link" href="#">Shop</a>
                            </li>
                            <li class="nav-item"
                                style="margin-left:20px;">
                                <a class="nav-link" href="#">Notice</a>
                            </li>
                            <li class="nav-item"
                                style="margin-left:20px;">
                                <a class="nav-link" href="#">Contact</a>
                            </li>
                        </ul>

                        @* nav-bar : Right Area *@
                        <div>
                            <ul class="navbar-nav me-auto" style="width: 100%;  justify-content: center;">
                                @{
                                    if (userInfo != null && !string.IsNullOrEmpty(userInfo.USER_ID))
                                    {
                                        @*<li class="nav-item" style="margin-left:20px;">
                                                @Html.ActionLink("Logout", "LogoutUser", "User", null, new { @class = "nav-link" })
                                            </li>*@
                                        <li class="nav-item dropdown" id="amhr-nav-bar-li">
                                            <a id="amhr-nav-bar-toggle" class="nav-link dropdown-toggle" data-bs-toggle="" href="#" role="button" aria-haspopup="true" aria-expanded="false" onclick="javascript: Nav_Bar_DropDownToggle();">@userInfo.USER_NM 님</a>
                                            <div class="dropdown-menu bg-primary" data-bs-popper="static" id="amhr-nav-bar-dropdown">
                                                @Html.ActionLink("Logout", "LogoutUser", "User", null, new { @class = "dropdown-item amhr_nav_dropdown" })
                                                @Html.ActionLink("MyPage", "MyPage", "User", null, new { @class = "dropdown-item amhr_nav_dropdown" })
                                                @if (userInfo.USER_TYPE.Equals("ADM"))
                                                {
                                                    <div class="dropdown-divider"></div>
                                                    @Html.ActionLink("Admin", "SetSystem", "Admin", null, new { @class = "dropdown-item amhr_nav_dropdown" })
                                                }

                                            </div>
                                        </li>
                                        if (userInfo.USER_TYPE.Equals("ADM"))
                                        {
                                            @*<li class="nav-item" style="margin-left:20px;">
                                                </li>*@
                                        }
                                    }
                                    else
                                    {
                                        <li class="nav-item" style="margin-left:20px;">
                                            @Html.ActionLink("Login", "UserLogin", "User", null, new { @class = "nav-link" })
                                        </li>
                                    }
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>

            @* breadcrumb Area *@
            <div style="width: 100%; height: 35px; border-bottom: inset; margin-top: 15px; margin-bottom:1px;">
                <ol class="breadcrumb" style="margin-left:30px;  margin-bottom:1px;">
                    @{
                        string FIRST_BREADCRUMB_NAME = ViewBag.FIRST_BREADCRUMB_NAME == null ? "" : ViewBag.FIRST_BREADCRUMB_NAME.ToString();
                        string SECOND_BREADCRUMB_NAME = ViewBag.SECOND_BREADCRUMB_NAME == null ? "" : ViewBag.SECOND_BREADCRUMB_NAME.ToString();
                    }
                    @if (!string.IsNullOrEmpty(FIRST_BREADCRUMB_NAME) && string.IsNullOrEmpty(SECOND_BREADCRUMB_NAME))
                    {
                        <li class="breadcrumb-item text-primary">@FIRST_BREADCRUMB_NAME</li>
                    }
                    else if (!string.IsNullOrEmpty(FIRST_BREADCRUMB_NAME) && !string.IsNullOrEmpty(SECOND_BREADCRUMB_NAME))
                    {
                        <li class="breadcrumb-item">@FIRST_BREADCRUMB_NAME</li>
                        <li class="breadcrumb-item text-primary">@SECOND_BREADCRUMB_NAME</li>
                    }
                    else
                    {

                    }

                </ol>
            </div>

            @* Admin 인 경우 좌측 사이드바 메뉴 출력 *@
            @if (ViewBag.ADMIN_VIEW != null && ViewBag.ADMIN_VIEW.ToString().Equals("Admin"))
            {
                @* Container Body Area *@
                <div class="container body-content" style="max-width:100%; padding-left:0; margin-top:0;">
                    <div style="display:flex;">
                        @Html.Partial("Amhr_Admin_SideBar")
                        @RenderBody()
                    </div>
                </div>
            }
            @* 나머지 경우 *@
            else
            {
                @* Container Body Area *@
                <div class="container body-content">
                    @RenderBody()
                </div>
            }



            <hr />

            @* Footer Area *@
            <div style="width: 100%; bottom: 0; left: 0; height: 60px;">
                <footer style="justify-content:center;  align-items:center; display:flex; margin-left:30px;">
                    <span>&copy; AMONGHAR</span>
                </footer>
            </div>
        </article>
    </div>

    @* Modal Layer Area *@
    @Html.Partial("Amhr_Modal")

    @* JavaScript Rendered Area *@
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/amhr")

    <script type="text/javascript">
        /*
            DOM 준비
        */
        $(function () {
            $('html').on("click", function (e) {
                if (
                    !$(e.target).is('#amhr-nav-bar-dropdown')
                    &&
                    !$(e.target).is('#amhr-nav-bar-toggle')
                    &&
                    !$(e.target).is('#amhr-nav-bar-li')
                    ) {
                    Nav_Bar_DropDownClose();
                }
            });

            /*
                TempData Message 가 존재한다면 알림메시지 출력
            */
            var message = '@MESSAGE';
            if (message != "")
            {
                WarningGlobalMessage(message);
            }

        });
    </script>

    @* Javascript Area *@
    @RenderSection("scripts", required: false)

</body>
</html>
