@model Contract.UserContract


@{
    ViewBag.Title = "UserReservation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{ 

    List<Entity.ClassEntity> ClassList = ViewBag.USER_RESVATION_LIST != null ? ViewBag.USER_RESVATION_LIST as List<Entity.ClassEntity> : null;

}

@* Main Layer *@
<main style="padding-left:50px; width:90%;">
    <div class="row" style="justify-content:center;">
        <section class="col-md-12" aria-labelledby="gettingStartedTitle" style="justify-content:center; width:30%;">
            <fieldset style="justify-content:center; max-width:282px; margin-top:30px;">
                <div style="text-align:center;">
                    <h1>
                        Reservation
                    </h1>
                    <hr />
                </div>
                <div class="list-group" id="rsv_list_div">
                    @if(ClassList != null && ClassList.Count>0)
                    {
                        for(int i = 0; i<ClassList.Count; i++)
                        {
                            string tagId = "rsv_" + i.ToString();
                            string Ymd = ClassList[i].CLASS_YMD.Substring(0, 4) + "-" + ClassList[i].CLASS_YMD.Substring(4, 2) + "-" + ClassList[i].CLASS_YMD.Substring(6, 2);


                            TimeSpan dateDiff = DateTime.Parse(Ymd) - DateTime.Parse(DateTime.Now.ToString("yyyy-MM-dd"));
                            string dDay = "D" + (dateDiff.Days > 0  ? "-" : ( dateDiff.Days == 0 ? " Day" : "+")) + (dateDiff.Days != 0 ? Math.Abs(dateDiff.Days).ToString() : " ");
                            string bgCssClass = dateDiff.Days > 0 ? "" : (dateDiff.Days == 0 ? "bg-success" : "bg-warning");
                            <a id="@tagId" class="list-group-item list-group-item-action flex-column align-items-start  @bgCssClass" onclick="ToggleRsvCard('@i.ToString()')" style="cursor:pointer;">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1"> @Ymd </h5>
                                    <small>@dDay</small>
                                </div>
                                <p class="mb-1">시그니처 클래스 - @ClassList[i].PRD_TYPE_NM</p>
                                @*<small>Donec id elit non mi porta.</small>*@
                            </a>
                        }
                        
                    }
                    @*<a href="#" id="rsv_1" class="list-group-item list-group-item-action flex-column align-items-start" onclick="ToggleRsvCard('1')">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">2024-09-05</h5>
                            <small>D-20</small>
                        </div>
                        <p class="mb-1">시그니처 클래스 - 증류식</p>
                    </a>
                    <a href="#" id="rsv_2" class="list-group-item list-group-item-action flex-column align-items-start" onclick="ToggleRsvCard('2')">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">2024-09-06</h5>
                            <small>D-21</small>
                        </div>
                        <p class="mb-1">시그니처 클래스 - 희석식</p>
                    </a>*@
                </div>
                <hr />
                <div style="text-align:center;">
                    <button type="button" class="btn btn-primary" onclick="requestChangePwd()">Cancel</button>
                </div>
                
            </fieldset>
        </section>
    </div>
</main>
@* Main Layer *@

@* Script Layer *@
@section scripts
{
    <script type="text/javascript">



        /*
            requestChangePwd : 비밀번호 변경
        */
        function requestChangePwd() {
            if (validateData()) {
                MsgBox.Confirm("저장하시겠습니까?", function resultFlag(flag) {
                    if (flag) {
                        saveData();
                    }
                    else {
                        return;
                    }
                });
            }
            else {
                return;
            }

        }

        /*
            validateData : 유효성 검사
        */
        function validateData() {
            var userPassword1 = $("#exampleInputPassword1").val();
            var userPassword2 = $("#exampleInputPassword2").val();
            if (userPassword1.trim() == "") {
                MsgBox.Alert("새 비밀번호를 입력하세요.", function () { $("#exampleInputPassword1").focus(); });
                return false;
            }
            if (userPassword2.trim() == "") {
                MsgBox.Alert("새 비밀번호 확인을 입력하세요.", function () { $("#exampleInputPassword2").focus(); });
                return false;
            }
            if (userPassword1 != userPassword2) {
                MsgBox.Alert("새 비밀번호와 새 비밀번호 확인 값이 다릅니다. 동일하게 입력하세요.", function () { $("#exampleInputPassword1").focus(); });
                return false;
            }
            return true;
        }

        /*
            saveData : 사용자 Data 저장
        */
        function saveData() {

            $.ajax({
                url: "/User/ChangePassword"
                , data: {
                    userId: '@ViewBag.USER_ID',
                    userPwd: $("#exampleInputPassword1").val()
                }
                , type: "post"
                , success: function (data) {

                    if (data.RESULT) {
                        MsgBox.Inform("비밀번호 변경이 완료되었습니다. 다시 로그인 후 이용하여 주십시오.", function () { location.href = "/User/LogoutNoMessage" });
                    }
                    else {
                        MsgBox.Warning("예상치 못한 오류가 발생하였습니다. 관리자에게 문의하십시오.");
                    }
                }
                , error: function (data) {
                    MsgBox.Danger(
                        setErrCustomContents(data)
                    );

                }
            });

        }

        function ToggleRsvCard(id)
        {
            var selectedCardId = "#rsv_" + id;

            var length = $($("#rsv_list_div").find('a')).length;
            if (length > 0)
            {
                var rsvCardObj = $("#rsv_list_div").find('a');
                for (var i = 0; i < length; i++)
                {
                    var rsvCardId = "#" + rsvCardObj[i].id;
                    $(rsvCardId).removeClass('active');
                    if (selectedCardId == rsvCardId)
                    {
                        $(rsvCardId).addClass('active');
                    }
                }
                //$(cardId).removeClass("active");


                //$(cardId).removeClass("active");
            }

            return;
            
        }
    </script>
}
@* Script Layer *@




