@model Contract.UserContract


@{
    ViewBag.Title = "UserReservation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{ 
    // 사용자 예약 목록을 ViewBag 에 담아 온다.
    List<Entity.ClassEntity> ClassList = ViewBag.USER_RESVATION_LIST != null ? ViewBag.USER_RESVATION_LIST as List<Entity.ClassEntity> : null;

}

@* Main Layer *@
<main style="padding-left:50px; width:90%;">
    <div class="row" style="justify-content:center;">
        <section class="col-md-12" aria-labelledby="gettingStartedTitle" style="justify-content:center; width:30%;">
            <fieldset style="justify-content:center; max-width:282px; margin-top:30px;">
                <div style="text-align:center;">
                    <h1>
                        Reservation
                    </h1>
                    <hr />
                </div>
                <div class="list-group" id="rsv_list_div">
                    @if(ClassList != null && ClassList.Count>0)
                    {
                        for(int i = 0; i<ClassList.Count; i++)
                        {
                            string tagId = "rsv_" + i.ToString();
                            string Ymd = ClassList[i].CLASS_YMD.Substring(0, 4) + "-" + ClassList[i].CLASS_YMD.Substring(4, 2) + "-" + ClassList[i].CLASS_YMD.Substring(6, 2);


                            TimeSpan dateDiff = DateTime.Parse(Ymd) - DateTime.Parse(DateTime.Now.ToString("yyyy-MM-dd"));
                            string dDay = "D" + (dateDiff.Days > 0  ? "-" : ( dateDiff.Days == 0 ? " Day" : "+")) + (dateDiff.Days != 0 ? Math.Abs(dateDiff.Days).ToString() : " ");
                            string bgCssClass = dateDiff.Days > 0 ? "" : (dateDiff.Days == 0 ? "bg-success" : "bg-warning");
                            <a id="@tagId" class="list-group-item list-group-item-action flex-column align-items-start  @bgCssClass" onclick="ToggleRsvCard('@i.ToString()')" name="@ClassList[i].CLASS_NO" style="cursor:pointer;">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1"> @Ymd </h5>
                                    <small>@dDay</small>
                                </div>
                                <p class="mb-1">시그니처 클래스 - @ClassList[i].PRD_TYPE_NM</p>

                            </a>
                        }
                        
                    }
                    
                </div>
                <hr />
                <div style="text-align:center;">
                    <button type="button" class="btn btn-primary" onclick="CheckRsvCancelOk()">Cancel</button>
                </div>
                
            </fieldset>
        </section>
    </div>
</main>
@* Main Layer *@

@* Script Layer *@
@section scripts
{
    <script type="text/javascript">



        /*
            ToggleRsvCard : 예약목록 카드 별 클릭 시 css 변경
        */
        function ToggleRsvCard(id)
        {
            var selectedCardId = "#rsv_" + id;

            var length = $($("#rsv_list_div").find('a')).length;
            if (length > 0)
            {
                var rsvCardObj = $("#rsv_list_div").find('a');
                for (var i = 0; i < length; i++)
                {
                    var rsvCardId = "#" + rsvCardObj[i].id;
                    $(rsvCardId).removeClass('active');
                    if (selectedCardId == rsvCardId)
                    {
                        $(rsvCardId).addClass('active');
                    }
                }
            }
            return;
        }

        function CheckRsvCancelOk()
        {
            var length = $($("#rsv_list_div").find('a')).length;
            if (length > 0) {
                var rsvCardObj = $("#rsv_list_div").find('a');
                var checkFlag = false;
                var Target_NO = "";
                for (var i = 0; i < length; i++) {
                    var rsvCardId = "#" + rsvCardObj[i].id;
                    if ($(rsvCardId).hasClass('active'))
                    {
                        Target_NO = $(rsvCardId)[0].name;
                        checkFlag = true;
                        break;
                    }

                }

                if (checkFlag && Target_NO != "")
                {
                    var obj = {};
                    obj.CLASS_NO = Target_NO;
                    // 삭제
                    $.ajax({
                        url: '/Class/CheckClassRsvCancelOk',
                        data: { contract: obj },
                        type: 'post',
                        success: function (data) {
                            if (data.RESULT == 'YES') {


                                $.ajax({
                                    url: '/Class/CancelClassRsv',
                                    data: { contract: obj },
                                    type: 'post',
                                    success: function (data)
                                    {
                                        if (data.RESULT) {
                                            MsgBox.Inform("예약 취소되었습니다.", function () { window.location.reload(); });
                                        }
                                        else
                                        {
                                            MsgBox.Warning("예약 취소에 실패했습니다. 관리자에게 문의하세요.");
                                        }


                                    }, error: function (data) {
                                        setErrCustomContents(data);
                                    }

                                });

                            }
                            else {
                                MsgBox.Warning("취소할 수 없는 예약입니다.");
                            }
                        },
                         error: function (data) {
                            MsgBox.Danger(
                                setErrCustomContents(data)
                            );

                        }

                        
                    });
                }
                else
                {
                    MsgBox.Warning("선택된 항목이 없습니다.");
                }

            }

        }
    </script>
}
@* Script Layer *@




