@model Contract.CodeContract
@{
    ViewBag.Title = "SetSystem";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Main layout-->
<main style="padding-left:50px; width:90%;">

    <form method="post" action="/Admin/SetSystem" id="CONST_SEARCH_FORM">
        <div class="row border-bottom" style="margin-top:20px;padding-bottom:20px;" id="SearchBox">
            <div style="margin-top: 10px; margin-bottom:10px;">
                <span class="badge bg-primary">Search</span>
            </div>
            <div class="col-md-3">
                <label for="Sys_Code_ID" class="form-label" style="font-size:15px; font-weight:bold; color:dimgrey;">시스템 코드</label>
                @Html.TextBoxFor(m => m.SYS_CODE_ID, new { @class = "form-control", @tyle = "text", @placeholder = "시스템 코드", @id = "Sys_Code_ID" })
                @*<input type="text" class="form-control" placeholder="text" id="Sys_Code_ID" name="SYS_CODE_ID">*@
            </div>
            <div class="col-md-3">
                <label for="Div_Code_ID" class="form-label" style="font-size:15px; font-weight:bold; color:dimgrey;">분류 코드</label>
                @Html.TextBoxFor(m => m.DIV_CODE_ID, new { @class = "form-control", @tyle = "text", @placeholder = "분류 코드", @id = "Div_Code_ID" })
                @*<input type="text" class="form-control" placeholder="text" id="Div_Code_ID" name="DIV_CODE_ID">*@
            </div>
            <div class="col-md-3">
                <label for="Code_ID" class="form-label" style="font-size:15px; font-weight:bold; color:dimgrey;">코드</label>
                @Html.TextBoxFor(m => m.CODE_ID, new { @class = "form-control", @tyle = "text", @placeholder = "코드", @id = "Code_ID" })
                @*<input type="text" class="form-control" placeholder="text" id="Code_ID" name="CODE_ID">*@
            </div>
            <div class="col-md-3">
                <label for="Code_NM" class="form-label" style="font-size:15px; font-weight:bold; color:dimgrey;">코드명</label>
                @Html.TextBoxFor(m => m.CODE_NM, new { @class = "form-control", @tyle = "text", @placeholder = "코드명", @id = "Code_NM" })
                @*<input type="text" class="form-control" placeholder="text" id="Code_NM" name="CODE_NM">*@
            </div>

        </div>
        <div class="row" style="text-align:right; margin-top:10px;">
            <div style="padding-right:0;">
                <button type="submit" class="btn btn-outline-primary btn-sm">Click for Search</button>
                <button type="button" class="btn btn-outline-primary btn-sm" onclick="RefreshCondition()">Refresh Condition</button>
            </div>
        </div>


        @Html.HiddenFor(m=>m.PAGE_NUMBER, new {@id="CONST_PAGE_NUMBER"})
    </form>




    <div class="row" style="margin-top:30px;" id="SearchList">
        <div style="margin-top: 10px; margin-bottom:10px;">
            <span class="badge bg-primary">List</span>
        </div>
        <div style="padding-right:0;">
            <table class="table table-hover">
                <thead>
                    <tr class="table-primary">
                        <th scope="col">코드명</th>
                        <th scope="col">시스템 코드</th>
                        <th scope="col">분류코드</th>
                        <th scope="col">코드</th>
                        <th scope="col">설명</th>
                        <th scope="col">사용여부</th>
                        <th scope="col">정렬순서</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.CodeList != null && Model.CodeList.Count > 0)
                    {
                        foreach (Entity.CodeEntity entity in Model.CodeList)
                        {
                            <tr>
                                <td>@entity.CODE_NM</td>
                                <td>@entity.SYS_CODE_ID</td>
                                <td>@entity.DIV_CODE_ID</td>
                                <td>@entity.CODE_ID</td>
                                <td>@entity.CODE_DESCRIPTION</td>
                                <td>@entity.USE_YN</td>
                                <td>@entity.SORT_ORDER</td>
                            </tr>

                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="7">No Data</td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>

    </div>

    <div class="row">
        <div style="margin-top:30px;">
            <ul class="pagination" style="align-items:center; justify-content:center;">
                @{
                    // PAGE 관련 소스 정의
                    int PAGE_COUNT = int.Parse(ViewBag.PAGE_COUNT.ToString());
                    int NOW_PAGE_NUMBER = int.Parse(ViewBag.NOW_PAGE_NUMBER.ToString());
                    int TOTAL_COUNT = int.Parse(ViewBag.TOTAL_COUNT.ToString());
                }

                @* Pagination *@
                @AMHR_WEB.GlobalAttribute.GlobalHtmlAttributes.Pagination(Html, NOW_PAGE_NUMBER, PAGE_COUNT, TOTAL_COUNT, "CODE_ID", "CUSTOM")

            </ul>
        </div>
    </div>

</main>
<!--Main layout-->
@section scripts{

    <script type="text/javascript">

        function RefreshCondition()
        {
            $("#Sys_Code_ID").val("");
            $("#Div_Code_ID").val("");
            $("#Code_ID").val("");
            $("#Code_NM").val("");
        }

    </script>

}
