@model Contract.ClassContract
@{
    ViewBag.Title = "Home Page";

    DateTime date = DateTime.Parse(Model.CLASS_YMD);
    int Year = date.Year;
    int Month = date.Month;
    int Day = date.Day;
    string DayOfWeek = date.DayOfWeek.ToString();
    // Sunday
    // Monday
    // Wednesday
    // Thursday
    // Friday
    // Saturday

    int lastDay = DateTime.DaysInMonth(Year, Month);
    string FirstDayOfWeek = date.AddDays((1 - Day)).DayOfWeek.ToString();
    int startDifference = 7;
    switch (FirstDayOfWeek)
    {
        case "Sunday": startDifference -= 7; break;

        case "Monday": startDifference -= 6; break;
        case "Tuesday": startDifference -= 5; break;
        case "Wednesday": startDifference -= 4; break;
        case "Thursday": startDifference -= 3; break;
        case "Friday": startDifference -= 2; break;
        case "Saturday": startDifference -= 1; break;
    }

    int weekRowCount = startDifference == 0 && lastDay == 28 ? 4 : 5;



    string[] YearCombo = new string[2];
    YearCombo[0] = DateTime.Now.Year.ToString();
    YearCombo[1] = DateTime.Now.AddYears(1).Year.ToString();

    Dictionary<string, string> MonthKeyValuePairs = new Dictionary<string, string>();
    int startMonth = 1;
    int lastMonth = 12;
    if (Year.ToString().Equals(YearCombo[0]))
    {
        startMonth = DateTime.Now.Month;
    }

    for (int i = startMonth; i <= lastMonth; i++)
    {
        MonthKeyValuePairs.Add((i < 10 ? "0" + i.ToString() : i.ToString()), i.ToString());
    }

    System.Data.DataTable rsvObj = new System.Data.DataTable();
    if (ViewBag.RSV_DATATABLE != null)
    {
        rsvObj = ViewBag.RSV_DATATABLE as System.Data.DataTable;
    }

    List<SelectListItem> classTimeList = new List<SelectListItem>();
    if (ViewBag.SELECT_CLASS_TIME != null)
    {
        classTimeList = ViewBag.SELECT_CLASS_TIME as List<SelectListItem>;
    }
}

@* Main Layer *@
<main style="padding-left:0;">


    <div class="row">
        <h1 style="text-align:center;">
            Reservation
        </h1>
        <hr />

        <section class="col-md-12" style="margin-bottom:15px; justify-content:center;">
            <div style="text-align:center; justify-content:center; display:flex;">
                <select class="form-select" id="cboRsvYear" style="width:200px;" onchange="ChangeComboYearMonth();">
                    @for (int i = 0; i < YearCombo.Length; i++)
                    {
                        if (Year.ToString().Equals(YearCombo[i]))
                        {
                            <option value="@YearCombo[i]" selected="selected">@YearCombo[i]</option>
                        }
                        else
                        {
                            <option value="@YearCombo[i]">@YearCombo[i]</option>
                        }
                    }
                </select>

                <select class="form-select" id="cboRsvMonth" style="width:110px; margin-left:15px" onchange="ChangeComboYearMonth()">
                    @foreach (var item in MonthKeyValuePairs)
                    {
                        if (Month.ToString().Equals(item.Value.ToString()))
                        {
                            <option value="@item.Key" selected="selected">@item.Value</option>
                        }
                        else
                        {
                            <option value="@item.Key">@item.Value</option>
                        }

                    }
                </select>
            </div>
        </section>

        <section class="col-md-12" aria-labelledby="gettingStartedTitle">
            <table class="table">
                <thead>
                    <tr class="table-primary">
                        <th scope="col">Sun</th>
                        <th scope="col">Mon</th>
                        <th scope="col">Tue</th>
                        <th scope="col">Wed</th>
                        <th scope="col">Thu</th>
                        <th scope="col">Fri</th>
                        <th scope="col">Sat</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int startNum = 1;
                        bool isDraw = false;
                    }
                    @for (int i = 0; i < weekRowCount; i++)
                    {
                        <tr>
                            @for (int j = 0; j < 7; j++)
                            {
                                if ((j == startDifference || isDraw) && startNum <= lastDay)
                                {
                                    // 그리기 시작
                                    isDraw = true;
                                    <td>
                                        @startNum

                                        @if (rsvObj.Rows.Count > 0)
                                        {
                                            string dayValue = startNum < 10 ? "0" + startNum.ToString() : startNum.ToString();
                                            System.Data.DataRow[] dr = rsvObj.Select("RSV_DAY= '" + dayValue + "'");

                                            if (dr.Length > 0)
                                            {

                                                <ul class="list-group">
                                                    @foreach (var item in classTimeList)
                                                    {
                                                        bool hasTime = false;

                                                        for (int k = 0; k < dr.Length; k++)
                                                        {
                                                            if (item.Value.ToString().Equals(dr[k]["CLASS_TIME"].ToString()))
                                                            {
                                                                <li class="justify-content-between align-items-center" style="margin-left:35px;">
                                                                    <s>
                                                                        @item.Value Time
                                                                    </s>
                                                                </li>

                                                                hasTime = true;
                                                            }
                                                        }

                                                        if(!hasTime)
                                                        { 
                                                            <li class="justify-content-between align-items-center" style="margin-left:35px;">
                                                                @item.Value Time
                                                            </li>
                                                        }
                                                    }
                                                </ul>
                                            }
                                            else
                                            {
                                                <ul class="list-group">

                                                    <li class="justify-content-between align-items-center" style="margin-left:35px;">
                                                        A Time
                                                    </li>
                                                    <li class="justify-content-between align-items-center" style="margin-left:35px;">
                                                        B Time
                                                    </li>
                                                    <li class="justify-content-between align-items-center" style="margin-left:35px;">
                                                        C Time
                                                    </li>
                                                    <li class="justify-content-between align-items-center" style="margin-left:35px;">
                                                        D Time
                                                    </li>
                                                </ul>
                                            }
                                        }
                                        else
                                        {
                                            <ul class="list-group">
                                                <li class="justify-content-between align-items-center" style="margin-left:35px;">
                                                    A Time
                                                </li>
                                                <li class="justify-content-between align-items-center" style="margin-left:35px;">
                                                    B Time
                                                </li>
                                                <li class="justify-content-between align-items-center" style="margin-left:35px;">
                                                    C Time
                                                </li>
                                                <li class="justify-content-between align-items-center" style="margin-left:35px;">
                                                    D Time
                                                </li>
                                            </ul>
                                        }


                                    </td>

                                    startNum++;
                                }
                                else
                                {
                                    <td>&nbsp;</td>
                                }
                            }

                            @if(i==weekRowCount-1)
                            {
                                if(startNum<=lastDay)
                                {
                                    weekRowCount += 1;
                                }
                            }
                        </tr>
                    }
                    @*<tr>
                            <td>1</td>
                            <td>2</td>
                            <td>3</td>
                            <td>4</td>
                            <td>5</td>
                            <td>6</td>
                            <td>7</td>
                        </tr>*@

                </tbody>
            </table>


        </section>


    </div>
</main>
@* Main Layer *@

@section scripts{

    <script type="text/javascript">

    $(function () {

        

    });

    function ChangeComboYearMonth()
    {
        var searchYear = $("#cboRsvYear").val();
        var searchMonth = $("#cboRsvMonth").val();
        var day = "01";
        var classYmd = searchYear + "-" + searchMonth + "-" + day;
        var prd_code = '@Model.PRD_CODE';

        var url = "/Class/ClassReservation?PRD_CODE=" + prd_code + "&CLASS_YMD=" + classYmd;
        location.href = url;
    }


    </script>

}