@model Contract.ClassContract
@{
    ViewBag.Title = "Class Reservation";

    // 01. 넘어온 날짜를 설정한다.
    DateTime date = DateTime.Parse(Model.CLASS_YMD);

    // 02. 연, 월, 일 정보를 담는다.
    int Year = date.Year;
    int Month = date.Month;
    int Day = date.Day;
    
    // 03. 마지막날 정보를 담는다.
    int lastDay = DateTime.DaysInMonth(Year, Month);

    // 04. 첫번째 날의 요일정보를 담는다.
    string FirstDayOfWeek = date.AddDays((1 - Day)).DayOfWeek.ToString();

    // 05. 시작일 기본값(달력을 그릴때 시작 요일이 목요일이면, < [ ] [ ] [ ] [ ] 목 금 토 > 로 그리기 위함
    int startDifference = 7;

    switch (FirstDayOfWeek)
    {
        case "Sunday": startDifference -= 7; break;
        case "Monday": startDifference -= 6; break;
        case "Tuesday": startDifference -= 5; break;
        case "Wednesday": startDifference -= 4; break;
        case "Thursday": startDifference -= 3; break;
        case "Friday": startDifference -= 2; break;
        case "Saturday": startDifference -= 1; break;
    }

    // 06. 일주일 단위 행 수
    int weekRowCount = startDifference == 0 && lastDay == 28 ? 4 : 5;


    // 07. 연도 콤보 세팅 (기본 : 현재연도, 현재연도 + 1)
    string[] YearCombo = new string[2];
    YearCombo[0] = DateTime.Now.Year.ToString();
    YearCombo[1] = DateTime.Now.AddYears(1).Year.ToString();

    // 08. 월 코보 세팅 (기본 : 현재연도의 경우 : 현재월 ~ 12 / 내년 : 1 ~ 12월) 
    Dictionary<string, string> MonthKeyValuePairs = new Dictionary<string, string>();
    int startMonth = 1;
    int lastMonth = 12;
    if (Year.ToString().Equals(YearCombo[0]))
    {
        startMonth = DateTime.Now.Month;
    }

    for (int i = startMonth; i <= lastMonth; i++)
    {
        MonthKeyValuePairs.Add((i < 10 ? "0" + i.ToString() : i.ToString()), i.ToString());
    }

    // 09. 연도 - 월 별 예약 데이터를 ViewBag 에 담아서 가져올때, 해당 정보를 DataTable로 남긴다.
    System.Data.DataTable rsvObj = new System.Data.DataTable();
    if (ViewBag.RSV_DATATABLE != null)
    {
        rsvObj = ViewBag.RSV_DATATABLE as System.Data.DataTable;
    }

    // 10. 클래스 시간 정보 담는다. (A, B, C, D 고정, DB로 관리, ViewBag에 담아 가져온다.)
    List<SelectListItem> classTimeList = new List<SelectListItem>();
    if (ViewBag.SELECT_CLASS_TIME != null)
    {
        classTimeList = ViewBag.SELECT_CLASS_TIME as List<SelectListItem>;
    }
}

@* Main Layer *@
<main style="padding-left:0;">

    <div class="row">
        <h1 style="text-align:center;">
            Reservation
        </h1>
        <hr />

        <section class="col-md-12" style="margin-bottom:15px; justify-content:center;">
            <div style="text-align:center; justify-content:center; display:flex;">
                @* 연도 콤보 바인딩 *@
                <select class="form-select" id="cboRsvYear" style="width:200px;" onchange="ChangeComboYearMonth();">
                    @for (int i = 0; i < YearCombo.Length; i++)
                    {
                        if (Year.ToString().Equals(YearCombo[i]))
                        {
                            <option value="@YearCombo[i]" selected="selected">@YearCombo[i]</option>
                        }
                        else
                        {
                            <option value="@YearCombo[i]">@YearCombo[i]</option>
                        }
                    }
                </select>

                @* 월 콤보 바인딩 *@
                <select class="form-select" id="cboRsvMonth" style="width:110px; margin-left:15px" onchange="ChangeComboYearMonth()">
                    @foreach (var item in MonthKeyValuePairs)
                    {
                        if (Month.ToString().Equals(item.Value.ToString()))
                        {
                            <option value="@item.Key" selected="selected">@item.Value</option>
                        }
                        else
                        {
                            <option value="@item.Key">@item.Value</option>
                        }

                    }
                </select>

            </div>

        </section>

        <section class="col-md-12" aria-labelledby="gettingStartedTitle">
            <table class="table">
                <thead>
                    <tr class="table-primary">
                        <th scope="col">Sun</th>
                        <th scope="col">Mon</th>
                        <th scope="col">Tue</th>
                        <th scope="col">Wed</th>
                        <th scope="col">Thu</th>
                        <th scope="col">Fri</th>
                        <th scope="col">Sat</th>
                    </tr>
                </thead>
                <tbody>
                    @* 달력 Drawing *@
                    @{
                        int startNum = 1;       // 시작일
                        bool isDraw = false;    // 그리기 Flag
                    }

                    @* 일주일 단위 행 수 만큼 반복 *@
                    @for (int i = 0; i < weekRowCount; i++)
                    {
                        <tr>
                            @* 일주일 고정으로 반복 *@
                            @for (int j = 0; j < 7; j++)
                            {

                                // 시작하는 요일이 되었고, 그리기 Flag 가 True 이면서, 마지막날보다 시작일이 작거나 같으면 날짜를 출력

                                if ((j == startDifference || isDraw) && startNum <= lastDay)
                                {
                                    // 그리기 시작
                                    isDraw = true;
                                    <td>
                                        @* 날짜 출력 *@
                                        @startNum

                                        @*  예약 데이터가 있으면 해당 날짜 (ex 1일) 데이터를 DataRow [] 로 출력해서 Time 코드와 비교한다. *@
                                        @if (rsvObj.Rows.Count > 0)
                                        {
                                            string dayValue = startNum < 10 ? "0" + startNum.ToString() : startNum.ToString();
                                            string classYmd = ViewBag.CLASS_YM.ToString() + dayValue;
                                            System.Data.DataRow[] dr = rsvObj.Select("RSV_DAY= '" + dayValue + "'");
                                            // DataRow[] 가 있다면 (해당 일자에 예약된 정보가 있다면)
                                            if (dr.Length > 0)
                                            {

                                                <ul class="list-group">
                                                    @* 클래스 Time 코드와 비교한다. *@
                                                    @foreach (var item in classTimeList)
                                                    {
                                                        bool hasTime = false;

                                                        for (int k = 0; k < dr.Length; k++)
                                                        {
                                                            // 겹치는 경우 삭선처리 <s> 태그 안에 넣는다.
                                                            if (item.Value.ToString().Equals(dr[k]["CLASS_TIME"].ToString()))
                                                            {
                                                                <li class="justify-content-between align-items-center" style="margin-left:35px;">
                                                                    <s>
                                                                        @item.Value (@item.Text)
                                                                    </s>
                                                                </li>

                                                                hasTime = true;
                                                            }
                                                        }

                                                        // 아닌 경우 그냥 그린다.
                                                        if (!hasTime)
                                                        {
                                                            
                                                            <li class="justify-content-between align-items-center li-link" style="margin-left:35px;" onclick="ReservationSavePopUp('@classYmd', '@item.Value');">
                                                                @item.Value (@item.Text)
                                                            </li>
                                                        }
                                                    }
                                                </ul>
                                            }
                                            // DataRow[] 가 없다면(해당 일자에 예약된 정보가 없다면) 모든 정보를 그냥 출력한다.
                                            else
                                            {
                                                foreach (var item in classTimeList)
                                                {
                                                    <ul class="list-group">
                                                        <li class="justify-content-between align-items-center li-link" style="margin-left:35px;" onclick="ReservationSavePopUp('@classYmd', '@item.Value');">
                                                            @item.Value (@item.Text)
                                                        </li>
                                                    </ul>
                                                }
                                            }
                                        }
                                        // 예약데이터 전체가 없다면 모든 날짜를 그냥 출력한다.
                                        else
                                        {
                                            string dayValue = startNum < 10 ? "0" + startNum.ToString() : startNum.ToString();
                                            string classYmd = ViewBag.CLASS_YM.ToString() + dayValue;
                                            foreach (var item in classTimeList)
                                            {
                                                <ul class="list-group">
                                                    <li class="justify-content-between align-items-center li-link" style="margin-left:35px;" onclick="ReservationSavePopUp('@classYmd', '@item.Value');">
                                                        @item.Value (@item.Text)
                                                    </li>
                                                </ul>
                                            }
                                        }


                                    </td>

                                    startNum++;
                                }
                                else
                                {
                                    <td>&nbsp;</td>
                                }
                            }

                            @*  마지막주를 그릴때, 시작일이 마지막날보다 작거나 같은 경우 (ex 시작일 : 28 / 마지막날 31)*@
                            @*  한 주를 더 그린다. *@
                            @if (i == weekRowCount - 1)
                            {
                                if (startNum <= lastDay)
                                {
                                    weekRowCount += 1;
                                }
                            }
                        </tr>
                    }
                    @* 달력 Drawing 종료 *@
                </tbody>
            </table>
        </section>
    </div>
</main>
@* Main Layer *@

@section scripts{

    <script type="text/javascript">

    $(function () {

        

    });

    /*
        ChangeComboYearMonth : 연도, 월 콤보박스가 변경될 때 호출되는 함수
    */
    function ChangeComboYearMonth()
    {
        var searchYear = $("#cboRsvYear").val();
        var searchMonth = $("#cboRsvMonth").val();
        var day = "01";
        var classYmd = searchYear + "-" + searchMonth + "-" + day;
        var prd_code = '@Model.PRD_CODE';

        var url = "/Class/ClassReservation?PRD_CODE=" + prd_code + "&CLASS_YMD=" + classYmd;
        location.href = url;
    }

    function ReservationSavePopUp(Class_Ymd, Class_Time)
    {
        var requestData = {};
        requestData.PRD_CODE = '@Model.PRD_CODE';
        requestData.PRD_TYPE_NM = '@Model.PRD_TYPE_NM';
        requestData.PRD_PRICE = '@Model.PRD_PRICE';
        requestData.CLASS_YMD = Class_Ymd;
        requestData.CLASS_TIME = Class_Time;

        ModalBox.Show("/Class/ClassReservationSave_P", requestData);
    }


    </script>

}