@model Contract.BoardContract
@{
    ViewBag.Title = "BoardSave";
    Layout = "~/Views/Shared/_Layout.cshtml";

    @* Global User Session Info Area *@
    var user = User as System.Security.Claims.ClaimsPrincipal;
    var userInfo = new AMHR_WEB.Models.UserSessionModel();
    if (user != null)
    {
        var claims = user.Claims.ToList();
        var sessionClaim = claims.FirstOrDefault(o => o.Type == AMHR_WEB.Models.Constants.UserSession);
        if (sessionClaim != null)
        {
            userInfo = AMHR_WEB.GlobalAttribute.GlobalHelper.stringToObject<AMHR_WEB.Models.UserSessionModel>(sessionClaim.Value);
        }
    
    }

    bool ISOWNER = false;
    string USER_ID = "";
    if (userInfo != null)
    {
        if (userInfo.USER_ID != null)
        {
            if( userInfo.USER_ID.Equals(Model.BoardEntity.BRD_WRITE_ID))
            {
                ISOWNER = true;
            }
            USER_ID = userInfo.USER_ID;
        }
    }
}

@* Main Layer *@
<main style="padding-left:0;">
    <div class="row" style="justify-content:center;">
        <section class="col-md-12" aria-labelledby="gettingStartedTitle" style="justify-content:center; width:100%;">
            <fieldset style="justify-content:center;">
                <div style="text-align:center;">
                    <h1>
                        Board
                    </h1>
                    <hr />
                    <div style="text-align:right; margin-top:10px;">
                        <div style="padding-right:0;">
                            <button type="button" class="btn bg-primary btn-sm text-white" onclick="BoardList('@Model.BoardEntity.BRD_CATEGORY', '@Model.BoardEntity.BRD_DIV')">Back to List</button>
                            @if (ISOWNER)
                            {
                                <button type="button" class="btn bg-primary btn-sm text-white" onclick="BoardModify()">Modify Board</button>
                            }
                        </div>

                    </div>
                </div>
                <div>
                    <label for="Brd_Title" class="form-label mt-4" style="font-weight:bold;">Title</label>
                    <div style="display:flex; margin-left:15px; min-height:60px;">
                        @Model.BoardEntity.BRD_TITLE
                    </div>
                </div>
                <div>
                    <label for="Brd_Contents" class="form-label mt-4" style="font-weight:bold;">Contents</label>
                    <div style="display:flex; margin-left:15px; min-height:350px;">
                        @Model.BoardEntity.BRD_CONTENTS
                    </div>
                </div>
                <hr />

            </fieldset>
        </section>
    </div>

    <section class="col-md-12" aria-labelledby="gettingStartedTitle" style="justify-content:center; width:100%;">
        <fieldset style="justify-content:center;">
            <div>
                <label for="Brd_Title" class="form-label mt-4" style="font-weight:bold;">Files</label>
                <div style="display:flex; margin-left:15px; min-height:60px;">

                    @* 파일 정보가 있다면 출력한다. *@
                    @if (Model.FileContract != null && Model.FileContract.FileList != null && Model.FileContract.FileList.Count > 0)
                    {
                        <table role="presentation" class="table table-striped">
                            <tbody class="files" id="downloadFilesArea">
                                @foreach (Entity.FileEntity entity in Model.FileContract.FileList)
                                {
                                    //[Route("AttachFiles/Find/{fileFolderPath}/{fileName}/{serverFileName}")]
                                    string FILE_DOWNLOAD_URL = "/AttachFiles/Find?fileFolderPath=" + entity.FILE_PATH + "&fileName=" + entity.FILE_NAME+"&serverFileName=" + entity.FILE_SERVER_NAME;

                                    <tr class="template-download">
                                        <td>
                                            <p class="name">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-arrow-down-fill" viewBox="0 0 16 16">
                                                    <path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0M9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1m-1 4v3.793l1.146-1.147a.5.5 0 0 1 .708.708l-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 0 1 .708-.708L7.5 11.293V7.5a.5.5 0 0 1 1 0" />
                                                </svg>
                                                <a href="@FILE_DOWNLOAD_URL" title="@entity.FILE_NAME" download="@entity.FILE_NAME">@entity.FILE_NAME</a>
                                            </p>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                </div>
            </div>
            <hr />

        </fieldset>
    </section>

    
    

    <div class="row" style="margin-top:30px;">

        <section class="col-md-12" aria-labelledby="gettingStartedTitle" style="justify-content:center; width:100%;">

            <fieldset style="justify-content:center;">
                <div>
                    <label class="form-label mt-4" style="font-weight:bold;">Comments</label>
                </div>

                <div>
                    <div style="display:block;">
                        <table class="table table-borderless" id="tbl_reply">

                            <thead>
                                <tr>
                                    <th>Writer</th>
                                    <th>Comments</th>
                                    <th style="text-align:left; width:170px;">Date</th>
                                    <th style="text-align:center; width:100px;">Modify</th>
                                    <th style="text-align:center; width:100px;">Reply</th>
                                    <th style="text-align:center; width:100px;">Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.ReplyList != null && Model.ReplyList.Count > 0)
                                {
                                    foreach (var item in Model.ReplyList)
                                    {
                                        string td_id = "td_" + item.REPLY_SEQ.ToString();
                                        string replyBtnId = "btn_reply" + item.REPLY_SEQ + "_" + item.REPLY_PARENT_SEQ;
                                        string hiddenReplyFieldTrId = "tr_reply_" + item.REPLY_SEQ + "_" + item.REPLY_PARENT_SEQ;
                                        string hiddenReplyFieldTdId = "td_reply_" + item.REPLY_SEQ + "_" + item.REPLY_PARENT_SEQ;
                                        string paddingLeftForLevel = "padding-left:" + (int.Parse(item.REPLY_LEVEL) * 30).ToString() + "px;";
                                        <tr style="vertical-align:middle;">
                                            <td style="width:15%;">@item.REPLY_WRITE_NM</td>

                                            <td style="text-align:left; @paddingLeftForLevel" contenteditable="@(USER_ID.Equals(item.REPLY_WRITE_ID) ? "true" : "false")" id="@td_id">@item.REPLY_COMMENTS</td>

                                            <td style="text-align:right;">@item.CREATE_DT.ToString("yyyy-MM-dd HH:mm:ss")</td>
                                            <td style="text-align:right;">
                                                @* 작성자가 로그인한 ID와 같아야 수정한다. *@
                                                @if (USER_ID.Equals(item.REPLY_WRITE_ID))
                                                {
                                                    <button type="button" class="btn btn-primary" onclick="BoardReply('UPDATE', '@item.REPLY_SEQ', '@item.REPLY_PARENT_SEQ', false)">Modify</button>
                                                }
                                            </td>
                                            <td style="text-align:right;">
                                                @* 로그인한 정보가 있어야 답글을 달 수 있다.(ID로판단) *@
                                                @if (!USER_ID.Equals(""))
                                                {
                                                    <button type="button" class="btn btn-success" onclick="ToggleEditReplyArea('@item.REPLY_SEQ', '@item.REPLY_PARENT_SEQ')" id="@replyBtnId" name="btn_reply">Reply</button>
                                                }
                                            </td>
                                            <td style="text-align:right;">
                                                @* 작성자가 로그인한 ID와 같아야 삭제한다.  *@
                                                @if (USER_ID.Equals(item.REPLY_WRITE_ID))
                                                {
                                                    <button type="button" class="btn btn-danger" onclick="BoardReply('DELETE', '@item.REPLY_SEQ', '@item.REPLY_PARENT_SEQ', false)">Delete</button>
                                                }
                                            </td>
                                        </tr>



                                        <tr style="display: none; vertical-align: middle;" id="@hiddenReplyFieldTrId" name="tr_reply">
                                            <td style="text-align:left;" colspan="4">
                                                <div contenteditable="true" class="form-control" style="height: 35px;" id="@hiddenReplyFieldTdId"></div>
                                            </td>
                                            <td style="text-align:right;">
                                                <button type="button" class="btn btn-success" onclick="BoardReply('REPLY', '@item.REPLY_SEQ', '@item.REPLY_PARENT_SEQ', true)">Reply</button>
                                            </td>
                                            <td style="text-align:right;">
                                                <button type="button" class="btn btn-danger" onclick="CancelEditReplyArea('@item.REPLY_SEQ', '@item.REPLY_PARENT_SEQ')">Cancel</button>
                                            </td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="3">No Data</td>
                                    </tr>
                                }
                            </tbody>


                        </table>
                    </div>
                </div>


                <div>
                    @* 로그인한 정보가 있어야 댓글을 달 수 있다.(ID로판단) *@
                    @if (!USER_ID.Equals(""))
                    {
                        <div style="display:flex;">
                            <div contenteditable="true" class="form-control" id="editor">

                            </div>
                            <button class="btn btn-primary" style="margin-left:10px;" onclick="BoardReply('CREATE', '0', '0')">Reply</button>
                        </div>
                    }

                </div>


            </fieldset>
        </section>
    </div>

</main>
@* Main Layer *@

@* Script Layer *@
@section scripts
{
    <script type="text/javascript">

        var ID_CHECK_FLAG = false;

        $(function () {
        });


        /*
            BoardList : 게시판 목록 돌아가기
        */
        function BoardList(brd_category, brd_div)
        {
            location.href = "/Board/BoardList?BRD_CATEGORY=" + brd_category + "&BRD_DIV=" + brd_div;
        }


        /*
            BoardModify : 게시판 수정 이동
        */
        function BoardModify()
        {
            location.href = "/Board/BoardSave?BRD_SEQ=" + "@Model.BoardEntity.BRD_SEQ" + "&BRD_CATEGORY=" + "@Model.BoardEntity.BRD_CATEGORY" + "&BRD_DIV=" + "@Model.BoardEntity.BRD_DIV";
        }


        /*
            BoardReply : 게시판 댓글 저장
        */
        function BoardReply(flag, replySeq, parentSeq, isReply)
        {

            var replyComments = "";             // 댓글 내용
            var successMsg = "";                // 성공 메시지
            var failMsg = "";                   // 실패 메시지
            var RealReplySeq = replySeq;        // 댓글 SEQ
            var RealReplyParentSeq = parentSeq; // 댓글 PARENT_SEQ
            var RealFlag = flag;


            // 01. 신규댓글저장
            if (flag == "CREATE")
            {
                replyComments = $("#editor")[0].innerText.trim();
                successMsg = "댓글 작성이 완료되었습니다.";
                failMsg = "댓글 작성을 실패하였습니다. 관리자에게 문의하세요.";
            }
            // 02. 댓글의 댓글 저장
            else if (flag == "REPLY")
            {
                var replyTdId = "#td_reply_" + replySeq + "_" + parentSeq;
                replyComments = $(replyTdId)[0].innerText.trim();
                

                // 댓글인 경우 ReplySeq = 0 이 되고, ParentSeq 는 ReplySeq 이다.
                RealReplySeq = "0";
                RealReplyParentSeq = replySeq;
                RealFlag = "CREATE";

                successMsg = "댓글 작성이 완료되었습니다.";
                failMsg = "댓글 작성을 실패하였습니다. 관리자에게 문의하세요.";
            }
            // 03. 댓글 수정
            else if (flag == "UPDATE")
            {
                replyComments = $("#td_" + replySeq)[0].innerText.trim();
                successMsg = "댓글 수정이 완료되었습니다.";
                failMsg = "댓글 수정을 실패하였습니다. 관리자에게 문의하세요.";
            }
            // 04. 댓글 삭제
            else if (flag=="DELETE")
            {
                successMsg = "댓글 삭제가 완료되었습니다.";
                failMsg = "댓글 삭제를 실패하였습니다. 관리자에게 문의하세요.";
            }
            
            
            // 작성한 내용이 없을 시
            if (replyComments == "" && flag != "DELETE")
            {
                MsgBox.Inform("댓글을 입력하세요.");
                return;
            }

            // 전송객체 "Contract/ReplyEntity"
            var replyObj = {
                ReplyEntity: {}
            };

            // 값 입력
            replyObj.ReplyEntity.REPLY_SEQ = RealReplySeq;                              /* REPLY_SEQ */
            replyObj.ReplyEntity.REPLY_PARENT_SEQ = RealReplyParentSeq;                 /* REPLY_PARENT_SEQ */
            replyObj.ReplyEntity.BRD_SEQ = "@Model.BoardEntity.BRD_SEQ";                /* BRD_SEQ */    
            replyObj.ReplyEntity.BRD_CATEGORY = "@Model.BoardEntity.BRD_CATEGORY";      /* BRD_CATEGORY */
            replyObj.ReplyEntity.BRD_DIV = "@Model.BoardEntity.BRD_DIV";                /* BRD_DIV */
            replyObj.ReplyEntity.REPLY_COMMENTS = replyComments;                        /* REPLY_COMMENTS */
            replyObj.ReplyEntity.USE_YN = "Y";                                          /* USE_YN */                
            replyObj.ReplyEntity.DEL_YN = "N";                                          /* DEL_YN */

            // 값 전달
            $.ajax({
                type: "post"
                , url: "/Reply/SaveReply"
                , data: {
                    contract: replyObj,
                    generalFlag: RealFlag
                    }
                , success: function (data)
                {
                    if (data.RESULT) {
                        MsgBox.Inform(successMsg, function () { window.location.reload(); });
                    }
                    else {
                        MsgBox.Warning(failMsg);
                    }
                }
            });

        }

        /* 
            ToggleEditReplyArea : 댓글 수정 창 활성화
        */
        function ToggleEditReplyArea(replySeq, replyParentSeq)
        {

            var replyTrId = "#tr_reply_" + replySeq + "_" + replyParentSeq;
            var replyBtnId = "#btn_reply_" + replySeq + "_" + replyParentSeq;

            // 01. 현재 열려있는 reply area 를 안보이게하고, ReplyButton 의 Disabled 를 해제
            $("tr[name='tr_reply']").css("display", "none");
            $("button[name='btn_reply']").removeAttr("disabled", "");

            // 02. 선택한 reply area 를 보이게하고, 선택한 ReplyButton 의 Disabled 를 설정
            $(replyTrId).css("display", "");
            $(replyBtnId).attr("disabled", "");
        }

        /*
            CancelEditReplyArea : 댓글 수정 창 닫기
        */
        function CancelEditReplyArea(replySeq, replyParentSeq)
        {

            var replyTrId = "#tr_reply_" + replySeq + "_" + replyParentSeq;
            var replyBtnId = "#btn_reply_" + replySeq + "_" + replyParentSeq;

            // 01. 선택한 reply area 를 안보이게하고, ReplyButton 의 Disabled 를 해제
            $(replyTrId).css("display", "none");
            $(replyBtnId).removeAttr("disabled", "");
        }
    </script>
}
@* Script Layer *@




