@model Contract.BoardContract
@{
    ViewBag.Title = "BoardSave";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string generalFlag = ViewBag.GENERAL_FLAG.ToString();
}

@* Main Layer *@
<main style="padding-left:0;">
    <div class="row" style="justify-content:center;">
        <form method="post" action="/Board/SaveBoard" onsubmit="return requestSaveBoard()" id="CONST_SAVE_FORM">
            <section class="col-md-12" aria-labelledby="gettingStartedTitle" style="justify-content:center; width:100%;">

                <fieldset style="justify-content:center;">
                    <div style="text-align:center;">
                        <h1>
                            Board
                        </h1>
                        <hr />
                    </div>
                    <div>
                        <label for="Brd_Title" class="form-label mt-4">Title</label>
                        <div style="display:flex;">
                            @Html.TextBoxFor(m => m.BoardEntity.BRD_TITLE, new { @type = "text", @class = "form-control", @id = "Brd_Title", @placeholder = "Write Title", @style = "max-width:1400px;" })
                            @*<input type="text" class="form-control" id="exampleInputId1" placeholder="Write Title" style="max-width:1400px;">*@
                        </div>
                    </div>
                    <div>
                        <label for="exampleInputPassword1" class="form-label mt-4">Contents</label>
                        @Html.TextAreaFor(m => m.BoardEntity.BRD_CONTENTS, new { @class = "form-control", @id="Brd_Contents", @placeholder = "Write Contents", @style = "max-width:1400px;", @rows = "17" })
                        @*<textarea class="form-control" placeholder="Write Contents" style="max-width:1400px;" rows="17"></textarea>*@

                        @Html.HiddenFor(m => m.BoardEntity.BRD_SEQ, new { @id = "Brd_Seq" })
                        @Html.HiddenFor(m => m.BoardEntity.BRD_CATEGORY, new { @id = "Brd_Category" })
                        @Html.HiddenFor(m => m.BoardEntity.BRD_DIV, new { @id = "Brd_Div" })
                        @Html.Hidden("GeneralFlag", "CREATE", new { @id = "Hidden_GeneralFlag" })
                    </div>
                    <hr />

                </fieldset>
            </section>
            <div class="row" style="margin-top:10px;">
                <section class="col-md-12" aria-labelledby="gettingStartedTitle" style="text-align:center;">
                    <div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </section>
            </div>
        </form>
    </div>
    
</main>
@* Main Layer *@

@* Script Layer *@
@section scripts
{
    <script type="text/javascript">

        var ID_CHECK_FLAG = false;

        /*
            requestSaveBoard : 게시판 저장
        */
        function requestSaveBoard() {
            if (validateData()) {
                askSave();
            }
            else {
                return false;
            }

        }

        /*
            validateData : 유효성 검사
        */
        function validateData() {
            var brdTitle = $("#Brd_Title").val();
            if (brdTitle.trim() == "") {
                MsgBox.Alert("제목을 입력하세요.", function () { $("#Brd_Title").focus(); });
                return false;
            }
            var brdContents = $("#Brd_Contents").val();
            if (brdContents.trim() == "") {
                MsgBox.Alert("내용을 입력하세요.", function () { $("#Brd_Contents").focus(); });
                return false;
            }

            return true;
        }


        function askSave()
        {

            MsgBox.Confirm("저장하시겠습니까?", function resultFlag(flag) {
                if (flag) {
                    return true;
                }
                else {
                    return false;
                }
            });

        }
        /*
            saveData : 게시판 Data 저장
        */
        //function saveData()
        //{
        //    $("#CONST_SAVE_FORM").submit();
        //}

        $(function () {
            var generalFlag = '@generalFlag';
            $("#Hidden_GeneralFlag").val(generalFlag);
        });
    </script>
}
@* Script Layer *@




